.topbar {
  width: 100%;
  height: 70px;
  background-color: #f3f3f3;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

.topRight{
    display: flex;
    align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}


.profile {
  cursor: pointer;
}

.options {
  display: none;
  background-color: #f3f3f3;
  border-radius: 5px;
}

.profile:hover .options {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20px;
  box-shadow: 0px 0px 15px -5px rgb(0 0 0 / 75%);
}

.options>span {
  padding: 10px;
  cursor: pointer;
}

.options>span:hover {
  background-color: #d4d4d4;
}
